.hero {
  text-align: center;
  margin: 40px 0;
}

.banner-komotia h1 {
  margin-bottom: 10px;
  font-size: 36px;
}

.banner-komotia p {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 24px;
}

.banner-komotia {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  padding: 0px 00px 30px 00px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
  text-align: center;
  gap: 80px;
  transition: background-image 3s ease-in-out;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.459);
  margin-top: 0px;
}

.slide-container {
  gap: 10px;
  display: flex;
  flex-direction: row;
}

.slide-button {
  border: none;
  border-radius: 20px;
  background-color: #ffffff3f;
  padding: 4px 40px;
}

.slide-button:hover {
  background-color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .banner-komotia {
    height: 400px;
    gap: 50px;
    margin-top: 0px;
  }
  
  .banner-komotia h1 {
    font-size: 28px;
  }

  .banner-komotia p {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .banner-komotia {
    height: 350px;
    gap: 40px;
    margin-top: 0px;
    padding: 0px 15px 20px 15px;
  }

  .banner-komotia h1 {
    font-size: 22px;
  }

  .banner-komotia p {
    font-size: 14px;
  }

  .slide-button {
    padding: 4px 25px;
  }
}