.profile-container {
    display: flex;
    flex-direction: row;
    gap:20px;
}

.profile-container div {
    display: flex;
    flex-direction: row;
    gap:13px;
    align-items: center;
}

.buat-toko{
   width: 114px;
   min-width: 114px;

}

.user-profile{
   max-height: 30px;
}

.profile-container :hover {
    background-color:rgba(0, 0, 0, 0.189);
}
.reg-icon {
    border-radius: 50px;
    height: 30px;
    width: 30px;
    object-fit: cover;
}